body {
	background-color: #FFFFFF;
}

.center{
	text-align: center;
	margin: 0 auto;
}

#cupcake {
	padding-top: 10px;
	padding-bottom: 0px;
	height: 125px;
}

#header {
	font-size: 19px;
	font-family: 'Josefin Slab', serif;
	font-weight: 300;
	color: #7bcbc6;
}

hr {
	border-top: 1px dashed;
	color: #7bcbc6;
}

ul {
	list-style-type: none; 
	float: center;
    width: 100%;
    padding: 5px;
    margin: 0;
}

.btn:hover {
	background-color: #7bcbc6;
}

