body {
	background-color: #def4f0;
}

.center{
	text-align: center;
	margin: 0 auto;
}

#cupcake {
	padding-top: 10px;
	padding-bottom: 0px;
	height: 110px;
}

#header {
	font-size: 25px;
	font-family: 'Josefin Slab', serif;
	font-weight: 300;
	color: #7bcbc6;
}

hr {
	border-top: 1px dashed;
	color: #7bcbc6;
}

ul {
	list-style-type: none; 
    width: 100%;
    margin: 0;
    text-align: center;
}

.btn {
	background-color: #eaccde;
	width: 150px;
	margin-bottom: 20px;
}

.btn-default {
	color: white;
	font-family: 'Josefin Slab', serif;
	font-weight: 400;
	font-size: 17px;
}

.btn:hover {
	background-color: #7bcbc6;
	color: white;
}


li {
	display: inline;
	padding-right: 15px;
    padding-left: 15px;
}

.dropdown-menu {
	background-color: #eaccde; 
	font-family: 'Josefin Slab', serif;
	font-size: 14px;
}

.dropdown-menu>li>a {
	padding-left: 11px;
	color: white;

}

ul {
	padding:0px;
}

#buns {
	padding-top: 20px;
	opacity: 0.8;
	height: 450px; 
	min-width: 700px;
	border-radius: 20px;
}

#middlebox {
	background-color: white;
	opacity: 0.5;
	height: 450px;
	width: 900px;
	padding: 20px;
	border-radius: 10px;
}

#text {
	opacity: 1.0;
	word-wrap: break-word;
}
